
.inputPessoais {
    display: flex;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espaçamento entre os elementos */
}

.inputBens {
    /* Estilos para os inputs, se necessário */
    margin-right: 10px; /* Espaçamento entre o input e o parágrafo */
}

p {
    /* Estilos para os parágrafos, se necessário */
}

